<p id="notice"><%= notice %></p>

<div class="container text-center">
  <div class="container">
  <h6 class="text-center">Classes</h6>
    <% @sections.each do |section| %>
    <ul title ="classes" class="classes_list">
      <li>
        <%= link_to section  do%>
          <%= section.name %>
        <% end %>
      </li>
      </ul>
    <% end %>
    </div>
  <br/>
  <button type="button" class="lesson_button"><%= link_to '+', new_section_path %></button>
</div>
