<p id="notice"><%= notice %></p>
    <div class="beatbox_header_ul"> 
      <nav>
      <ul title="view options">
        <li class="beatbox_header_li">
        <br/>
          <h4 class="text-center" style="color:#8A8A8A;">Classes</h4>
      </li>
      </ul>
      </nav>
    </div>
<div class="container text-center topPadding">
  <div class="container">
    <% @sections.each do |section| %>
    <ul title ="classes" class="classes_list">
      <li>
        <%= link_to section  do%>
          <%= section.name %>
        <% end %>
      </li>
      </ul>
    <% end %>
    </div>
  <br/>
  <button type="button" class="lesson_button"><%= link_to '+', new_section_path %></button>
</div>
