
<p id="notice"><%= notice %></p>
<div class="beatbox_header_ul">
  <nav>
  <ul title="view options">
    <li class="beatbox_header_li">
    <br/>
      <h4 class="text-center" style="color:#8A8A8A;">Tags</h4>
  </li>
  </ul>
  </nav>
</div>
<div class="container topPadding">
    <% @tags.each do |tag| %>
<ul title ="lessons" class="classes_list">
<br/>
    <%= link_to tag do%>
      <li style="width:10%">
        <%= tag.name %>
      </li>
    <% end %>
    <br/><br/>
</ul>
<% end %>
<br/>
<div class="text-center"><button type="button" class="lesson_button"><%= link_to '+', new_tag_path %></button></div>
</div>
