/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 */

// "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'lessons';
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.beatbox_button {
	color: #8A8A8A;
	background-color: #EFEFEF;
	border: none;
	width: 170px;
	padding: 6px 10px;
}

.topPadding {
	padding-top: 15%;
}

.beatbox_footer_ul {
	height: 8%;
	background-color: black;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.beatbox_header_ul {
	height: 8%;
	background-color: white;
	border: 10px;
	border-bottom-color: #E7E5E5;
	border-bottom-style: solid;
    border-bottom-width: 1px;
	position: absolute;
	top: 0px;
	width: 100%;
}

.beatbox_header_li {
	width: 100%;
}

.beatbox_footer_li {
	width: 25%;
}

.beatbox_dark_background {
	background-color: #091620
}

.beatbox_label_field {
	color: #4BE8C3;
	font-size: 14px;
}

.beatbox_textfield_properties {
	border: none;
	border-bottom-color: #4BE8C3;
	border-bottom-style: solid;
    border-bottom-width: 1px;
	font-size: 12px;
	width: 100%;
}
