// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FFFFFF;
}

.lesson_button {
	width: 40px;
	height: 40px;
	border: none;
    border-radius: 50%;
    font-size: 20px;
 }

lesson_li {
	float: none;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

div.scrollmenu {
    background-color: #FFF;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}